.pagination {
    justify-content: center;
}

#container {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    height: 100%;
    margin-left: 10px;

    form {
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
        #searchValue {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            font-size: 1rem;
            padding: 3% 3% 3% 3%;
            border: 1px solid #000;
        }

        #searchValue::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: .9rem;
        }

        #searchValue::-moz-placeholder {
            /* Firefox 19+ */
            font-size: .9rem;
        }

        #searchValue::-ms-input-placeholder {
            /* IE 10+ */
            font-size: .9rem;
        }

        #searchValue::-moz-placeholder {
            /* Firefox 18- */
            font-size: .9rem;
        }

        #searchValue:focus {
            outline: none;
        }

        #submitBtn {
            position: absolute;
            top: 10%;
            right: 0;
            width: 50px;
            border-radius: 50%;
            border: none;
            background: none;
            cursor: pointer;
            font-size: 1rem;
        }
    }

}

#filter-area {
    margin-top: 20px;
    
    #filterDevices {
        color: gray;
        font-size: .9rem;
        font-weight: 500;
        height: 30px;
        width: 100%;
        optgroup {
            margin-left: 5px;
            color: #000;

            option:not(:first-of-type) {
                margin-top: 0;
                font-size: .9rem;

            }
            option {
                font-weight: 500;
            }
        }
    }
}

#billingTable, tr td {
    border: 1px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    tbody {
        display: block;
        height: 45vh;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;/* even columns width , fix width of table too*/
    }
    thead {
        width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
    }
    #billingTable {
        width: 100%;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #container {
        width: 10%;
        margin: auto;
        min-width: 200px;
        max-width: 250px;
        height: 100%;

        form {
            border-radius: 25px;
            position: relative;

            #searchValue {
                width: 100%;
                height: 100%;
                border-radius: 25px;
                font-size: 1rem;
                padding: 2% 4% 2% 4%;
                border: 1px solid #000;
            }

            #searchValue::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                font-size: .8rem;
            }

            #searchValue::-moz-placeholder {
                /* Firefox 19+ */
                font-size: .8rem;
            }

            #searchValue::-ms-input-placeholder {
                /* IE 10+ */
                font-size: .8rem;
            }

            #searchValue::-moz-placeholder {
                /* Firefox 18- */
                font-size: .8rem;
            }

            #searchValue:focus {
                outline: none;
            }

            #submitBtn {
                position: absolute;
                top: 10%;
                right: 0;
                width: 30px;
                border-radius: 50%;
                border: none;
                background: none;
                cursor: pointer;
                font-size: .8rem;
            }
        }

    }

    #billingTable {
        font-size: .7rem;

    }

}

.react-switch-bg {
    min-width: 30px;
    max-width: 50px;
    min-height: 20px;
    max-height: 23px;
    padding: 1% 2% 2% 1%;
    font-size: .3rem;
}

.react-switch-handle {
    min-width: 10px;
    max-width: 20px;
    min-height: 10px;
    max-height: 20px;
    padding: 1% 2% 2% 1%;
    font-size: .3rem;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.map-container {
    width: 100%;
    height: 50vh;
}

.playback-map-container {
    width: 100%;
    height: 100vh;
}

// .marker-label {
//     position: relative;
//     border: 1px solid #FFFFFF;
//     background-color: #FFFFFF;
//     border-radius: 5px;
//     bottom: 3em;
//     height: 40px;
//     padding: 10px;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
// }

// .marker-label:before {
//     content: 'Vehicle Name: ',
// }

// .marker-label:after {
//     content:'';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 2.6em;
//     margin: 0 auto;
//     width: 0;
//     height: 0;
//     border-top: 15px solid #FFFFFF;
//     border-left: 20px solid transparent;
//     border-right: 20px solid transparent;
// }