@media only screen and (min-width: 1600px) {
    #card-md, #card-md2, #card-md4, #card-md5 {
        width: 100%;
        max-width: 160vh;
    }
  }



#card-md, #card-md2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    border: 4px solid rgb(200, 195, 195);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font: normal normal 600 Segoe UI;
}

#card-md4 {
    margin: 0;
    padding-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 93vh;
    border: 4px solid rgb(200, 195, 195);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Segoe UI;
}

#card-md5 {
    padding-bottom: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
    border: 4px solid rgb(200, 195, 195);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Segoe UI;
}



.progress-bar {
    margin-left: 0;
    width: 200px;
    height: 15px;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: #1b2792;
    border-radius: inherit;
    transition: width 0.4s ease-in-out;
}

.btn {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0.5 solid rgb(147, 137, 137);
    padding: 15px;
}

#grow_rate {
    text-align: "right";
    font: normal normal 400 14px Segoe UI;
}

#small_font {
    font-size: 12px;
    text-align: "left"; 
    margin-top: 5px;
}

#hr_border {
    border: 5px solid gray;
}


#more-details {
    box-sizing: border-box;
    border: 1px solid rgb(12, 12, 12);
    font-size: 14px;
    background-color: "white";
    border-radius: "15px";
    font-Weight: "700";
}

#loan_area {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
}

#top_label {
    font: normal normal 500 14px Segoe UI;
}

#lvl {
    font: normal normal bolder 40px Segoe UI;
}

#approved_loans {
    text-align: left;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumb li {
    display: inline-block;
    padding: 0 6px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  
  .breadcrumb span {
    padding: 0;
    font-weight: bold;
    color: rgb(10, 10, 10);
  }


#loan-details {
    border-bottom: 6px solid rgb(209, 192, 192);
    padding: 20px;
}

#loan-applicant-status {
    border-bottom: 6px solid rgb(209, 192, 192);
    padding: 20px;
}

#total-loan-application {
    border-bottom: 6px solid rgb(209, 192, 192);
    padding: 20px;
}

#billing {
    border-bottom: 6px solid rgb(209, 192, 192);
    padding: 20px;
}

#toda {
    border-bottom: 6px solid rgb(209, 192, 192);
    padding: 20px;
}