// html {
//     width: 100%;
//     height: 100%;
// }

// @media only screen and (min-width: 1440px) and (max-width: 2555px) {

//     #card-md {
//         padding: 20px ;
//         height: 400px ;
//         margin-top: 5px;
//         margin-bottom: 30px;
//     }

//     #card-md2 {
//         padding: 20px ;
//         height: 400px ;
//         margin-top: 5px;
//         margin-bottom: 30px;
//     }

//     #card-md3 {
//         padding: 30px ;
//         height: 400px ;
//         margin-top: 5px;
//         margin-bottom: 30px;
//     }

//     #sidebarMenu {
//         padding-left: 10px;
//         width: 230px;
//         color: "white";
//         line-height: 60px;
//     }

//     #loan-details {
//         padding: 20px;
//     }

//     #logo4 {
//         position: absolute;
//         left: 8px;
//         top: 20px;
//         padding: 20px;
//     }

//     #more-details {
//         width: 100%;
//         max-width: 300px !important;
//     }

//     #loan-applicant-status {
//         padding: 10px;
//     }

//     #chart {
//         width: 200px;
//         height: 100px;
//     }

//     #card-md4 {
//         padding: 15px;
//         height: 400px;
//         margin-top: 20px;
//     }

//     #card-md5 {
//         padding: 15px;
//         height: 400px;
//         margin-top: 20px;
//     }


// }

// @media only screen and (min-width: 2560px) {
//     #logo4 {
//         position: fixed;
//         top: 50px;
//         left: 50px;
//         margin: 0;
//         width: 150px;
//     }

//     #sidebarMenu {
//         width: 100%;
//         max-width: 350px!important;
//         padding: 30px;
//         line-height: 60px;
//     }
// }

// @media only screen and (min-width: 320px) and (max-width: 375px) {
//     #card-md4 {
//         height: 500px;
//     }
// }

// @media only screen and (min-width: 1024px) and (max-width: 1400px){

//     #card-md2 {
//         padding: 40px ;
//         height: 400px ;
//         margin-top: 40px;
//         width: 400px;
//     }

//     #loan-details {
//         padding: 20px;

//     }

//     #sidebarMenu {
//         padding-left: 18px;
//         width: 185px;
//     }

//     #card-md3 {
//         height: 1000px ;
//         margin-top: 30px;
//         padding-right: 50px;
//     }


//    #chart {
//         width: 160px;
//         padding: 10px;
//         height: 120px;
//     }

//     #more-details {
//         width: 100px;
//     }


// }

// @media only screen and (min-width: 768px) and (max-width: 1020px){
//     #more-details {
//         width: 100px;
//     }

//     #card-md2 {
//         padding: 40px ;
//         height: 400px ;
//         margin-top: 40px;
//     }

//     #loan-details {
//         padding: 20px;

//     }

//     #sidebarMenu {
//         padding-left: 18px;
//         width: 200px;
//         height: 100% ;
//         position: absolute;
//         left: 0;
//         top: 0;
//         line-height: 20px;
//     }

//     #chart {
//         width: 120px;
//         padding: 0;
//         height: 100px;
//     }

//     #more-details {
//         width: 130px;
//     }


// }



#card-md, #card-md2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    border: 4px solid rgb(200, 195, 195);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font: normal normal 600 Segoe UI;
}

#card-md4 {
    margin: 0;
    padding-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
    border: 4px solid rgb(200, 195, 195);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Segoe UI;
}

#card-md5 {
    padding-bottom: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
    border: 4px solid rgb(200, 195, 195);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Segoe UI;
}



.progress-bar {
    margin-left: 0;
    width: 200px;
    height: 15px;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: #265a28;
    border-radius: inherit;
    transition: width 0.4s ease-in-out;
}

.btn {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0.5 solid rgb(147, 137, 137);
    padding: 15px;
}

#grow_rate {
    text-align: "right";
    font: normal normal 400 14px Segoe UI;
}

#small_font {
    font-size: 12px;
    text-align: "left"; 
    margin-top: 5px;
}

#hr_border {
    border: 5px solid gray;
}


#more-details {
    box-sizing: border-box;
    border: 1px solid rgb(12, 12, 12);
    font-size: 14px;
    background-color: "white";
    border-radius: "15px";
    font-Weight: "700";
}

#loan_area {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
}

#top_label {
    font: normal normal 500 14px Segoe UI;
}

#lvl {
    font: normal normal bolder 40px Segoe UI;
}

#approved_loans {
    text-align: left;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumb li {
    display: inline-block;
    padding: 0 6px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  
  .breadcrumb span {
    padding: 0;
    font-weight: bold;
    color: rgb(10, 10, 10);
  }