@media only screen and (min-width: 1200px) {
    .tab-container {
        margin-top: 100px;
        margin-left: 220px;
    }
  }

  @media only screen and (min-width: 1600px) {
    .tab-container {
        margin-top: 120px;
        margin-left: 220px;
    }
  }