

video {
  /* UI Properties */
  opacity: 1;
  margin-bottom: 75px ;
  }
  
  #vid {
      position: absolute;
      top: 80px;
      left: 0;
  }
  
  .card-title {
      font-family: SegoeUI;
      font-size: 30px;
      letter-spacing: 6px;
      text-align: center;
      color: #004ea2;
      font-weight: bolder;
      margin-top: 20px;
  }
  
  #fcol {
    margin-top: 90px;
  }
  
  .card-text {
    width: 65%;
    float: right;
    color: #004ea2;
    font-weight: bold;
    font-size: smaller;
    letter-spacing: none;  
  }
  
  #but1 {
    text-align: center;
  }
  
  #button1 {
    background-color: #004ea2;
    color: #EAE6E6;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: small;
    width: 200px;
    letter-spacing: 0.5px;
  }
  
  #button2 {
    background-color: #004ea2;
    color: #EAE6E6;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold;
    font-size: large;
    text-align: center;
    letter-spacing: 1.5px;
  }
  
  #partner_logo { 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  
  
  