// SideNav
ul {
    li {
        .nav-link:hover {
            font-size: large;
        }
    }
 } 

// Nav
.navOptions1 {
    .loan-app {
        font-weight: 700;
        text-decoration: none;
        color: #000000;
    }

    .loan-config {
        font-weight: 700;
        text-decoration: none;
        color: #004ea2;
        margin-left: 50px;
        .firstWord {     
            border-bottom: 2px solid #004ea2;
        }
    }
 }

.instruction {
    #refreshBtn {
        padding: 10px 35px 10px 35px;
        margin-bottom: 10px;
        margin-left: 200px;
        border-radius: 10px;
        background-color: #004ea2;
        position: relative;
        bottom: 15px;
    }
    #refreshBtnTxt {
        font-weight: 500;
        color: #FFFFFF;
        font-size: 14px;
    }
    #newLoanConfig {
        padding: 10px 35px 10px 35px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 10px;
        background-color: #004ea2;
        position: relative;
        bottom: 15px;
    }
    #newLoanConfigTxt {
        font-weight: 500;
        color: #FFFFFF;
        font-size: 14px;
    }
}


