// SideNav
ul {
    li {
        .nav-link:hover {
            font-size: large;
        }
    }
 } 

 html,body
 {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden; 
 }

// Nav
.navOptions1 {
    .tab1 {
        font-weight: 700;
        text-decoration: none;
        color: #004ea2;
    }

    .tab2 {
        font-weight: 700;
        text-decoration: none;
        color: #000000;
        margin-left: 50px;
    }
 }

.instruction {
    position: relative;
    top: 110px;
    margin-top: 0px;
    margin-left: 305px;
        .loan-application {
            text-align: left;
            font: normal normal 600 18px Segoe UI;
            letter-spacing: 0px;
            color: #101114;
            text-shadow: 0px 3px 6px #FFFFFF4F;
            opacity: 1;
        }
        .new-loan {
            font: normal normal 600 14px Segoe UI;
            margin-top: 20px;
            text-shadow: 0px 3px 6px #FFFFFF4F;
            color: #101114;
            opacity: 0.5;
        }
        ul {
            padding: 0;
            margin-top: 50px;
            .navOptions2 {
                a {
                    color: #000000;
                    font-weight: 700;
                    padding-bottom: 10px;
                    border-bottom: white;
                    padding-bottom: 10px;
                    }
                    
                    .firstWord {     
                        border-bottom: 2px solid #004ea2;
                        padding-bottom: 10px;
                    }

                .tab3 { 
                    border-right: 1px solid #707070;
                    opacity: 1;
                    font-size: 14px;
                    color: #004ea2;
                }
                .tab4 {
                    font-size: 14px;
                    color: #000000;
                }
                
            }
        }
}

.searchList {
    position: relative;
    top: 110px;
    margin-top: 50px;
    margin-left: 305px;
    #search {
        font-weight: 700;
        text-align: left;
        color: #0B0B0E;
        opacity: 0.75;
    }
        input {
            width: 200px;
            height: 45px;
            padding: 10px;
            border: 2px solid #000000;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        input::-webkit-input-placeholder {
            font-weight: normal;
            border-bottom: 2px solid #000000;
            font-family: 'Segoe UI';
            font-size: 13px;
            letter-spacing: 0.02px;
        }
        input::-moz-placeholder {
            font-weight: normal;
            border-bottom: 2px solid #000000;
            font-family : Segoe UI;
            font-size: 13px;
            letter-spacing: 0.02px;
        }
        input:-moz-placeholder {   /* Older versions of Firefox */  
            font-weight: normal;
            border-bottom: 2px solid #000000;
            font-family : Segoe UI;
            font-size: 13px;
            letter-spacing: 0.02px;
        }
        input:-ms-input-placeholder { 
            font-weight: normal;
            text-decoration: underline;
            font-family : Segoe UI;
            font-size: 13px;
            letter-spacing: 0.5px;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
        .applicantName {
            margin-left: 10px;
        }
    #settings {
        margin-left: 20px;
        margin-bottom: 5px;
    }
    #filters {
        font-weight: 500;
        margin-left: 50px;
        font-size: 14px;
    }
    #myApplication {
        margin-left: 20px;
        border-bottom: 2px solid #000000;
    }
    #newLoanBtn {
        padding: 10px 25px 10px 25px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #004ea2;
        position: absolute;
        right: 13vh;
    }   
    #newLoanTxt {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
    }
}

.label {
    #caseSensitive {
        position: relative;
        top: 100px;
        left: 310px;
        font-weight: 800;
        font-size: .5rem;
        margin-bottom: 15px;
    }
}

.applicationsTable {
    position: relative;
    top: 150px;
    margin-left: 305px;
    margin-bottom: 100px;
    margin-right: 50px; 
    td {
        padding: 15px;
        font-size: 14px;
        font-weight: 600;
    }
    th {
        padding: 13px 15px 10px 15px;
        width: 300px;
        font-size: 14px;
    }

    .tableColumnHeads {
        color: #6E6E6E;
        border-bottom: 2px solid #004EA2;
        padding: 50px;
    }
    tr:last-child{
        border-bottom: 2px solid #004EA2;
        padding: 50px;
    }
}