@media only screen and (min-width: 325px) and (max-width: 425px) {
  #nvlink {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5rem;
  }
}

@media only screen and (min-width: 728px) and (max-width: 1024px) {
  #nvlink {
    position: absolute;
    top: 0;
    right:30px;
  }
}



  #nvlink {
    position: absolute;
    top: 10vh;
    right: 50vh;
    text-decoration: none;
    font: normal normal 700 18px Segoe UI;
  }



@media only screen and (max-width: 425px) {
  .login {
    width: 100%;
    max-width: 270px;
  
  }

  .log {
    margin: 0;
    padding: 0;
  }

  #sign {
    line-height: 20px;
  }

  #second_paragraph {
    font: normal normal normal 10px Segoe UI;
  }
  
  fieldset input {
    width: 150px;
  }


}

  
  #sign {
    display: inline;
    line-height: 5px;
  }


  .logg {
    background-color: transparent;
  }

  #log {
    background-image: url("bldg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  .nav-wrapper {
    background-color: transparent;
  }
  .brand-logo {
    color: white;
  }
  #nav-mobile {
    background-color: transparent;
  }
  
  #nav-mobile {
    list-style: none;
  }
  

  .login {
    margin: 0 auto;
    width: 48vh;
    height: 62vh;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    padding: 50px;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5),
      0 5 px 5px 0 rg ba (0, 0, 0, 0.24);
    margin-top: 20vh;
  }
  
  
  .login fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .login fieldset p {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
  }
  
  .login fieldset input {
    text-align: left;
    font: normal normal normal 20px Segoe UI;
    letter-spacing: 0.02px;
    color: #0000004a;
    opacity: 0.5;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(77, 74, 74);
  }
  
  .login fieldset button {
    background: #084198 0% 0% no-repeat padding-box;
    border-radius: 34px;
    opacity: 1;
    padding: 8px;
    width: 85%;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
  }
  
  .login fieldset button:hover {
    background: #0b0b0b;
    transition: all 0.5s ease;
  }
  

  #second_paragraph {
    font: normal normal normal 14px Segoe UI;
  }

  #sign_in {
    font-weight: 800;
  }