@media (max-width: 768px) and (min-width: 320px){
  .collapse {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    text-align: center;
    background-color: #004ea2;
    padding: 30px;
    box-sizing: border-box;
  }
  .collapse ul {
    margin: 0;
    padding: 0;
    float: left;
  }
  .collapse li {
    margin: 0;
  }
  .collapse #nl {
    display: block;
    padding: 10px;
    border-radius: 4px;
    color: #333;
    text-decoration: underline;
  }

  .navbar-toggler-icon {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 728px) and (max-width: 1020px) {

  #navlogo {
    margin-left: 20px;
  }

  #ul {
    position: absolute;
    right: 70px;
  }

  #home_navbar {
    margin-right: 100px;
    padding: 300px; 
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {

  #navlogo {
    margin-left: 20px;
  }

  #ul {
    position: absolute;
    right: 150px;
  }

}


/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1440px) and (max-width: 2560px) {

  #navlogo {
    margin-right: 400px;
    margin-left: 100px;
  }

  #ul {
    position: absolute;
    right: 200px;
  }

}




#home_navbar {
  padding: 10px;
  background: #004ea2 0% 0% no-repeat padding-box !important;
  opacity: 1;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
}


#ul {
  margin: 0;
  padding: 0;
  list-style: none;
}



#li {
  padding: 10px;
  text-align: left;
  font: normal normal 300 16px Segoe UI;
  letter-spacing: 0px;
  color: #eae6e6;
  opacity: 1;
  float: right;
  margin-left: 60px;
  font-weight: 500;
}

#nl { 
  color: #eae6e6;
  text-decoration: none;  
}

#nl:hover {
  text-decoration: underline;
}

.navbar-toggler-icon {
  position: fixed;
  top: 10px;
  right: 10px;
}