#side_nav{
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   background-color: #0148a0;
   width: 100%;
   max-width: 250px;
   z-index: 1;
}

.container-fluid {
    width: 100%;
    padding: 0 15px;
}
@media (min-width: 480px) {
    .container-fluid {
        width: 480px;
    }
}


@media (min-width: 600px) {
    .container-fluid {
        width: 600px;
    }

    #main-sidenav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        max-height: 100vh;
        background-color: #0148a0;
        width: 100%;
        max-width: 170px; 
        z-index: 1;
    }

    #main-side-ul {
        list-style: none;
        line-height: 45px;
        position: absolute;
        top: 12px;
    }

    #main-side-logo {
        padding: 10px;
        position: absolute;
        left: 0px;
        width: 140px;
        height: 55px;
    
    }


    .nav-link {
        text-decoration: none;
        color: white;
    }

    #sidenav-menu {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
    }

    #gms-finance-logo {
        width: 170px;
        height: 170px;
        margin-left: 15vh;
        margin-top: 35vh;
    }   

    #header-breadcrumb {
        font-size: 10px;
        color: black;
        font-weight: 600;
        margin-left: 10px;

        #first-bc {
            text-decoration: none;
            color: black;
            font-weight: 600;
        }
    }

    #sidenav-name {
          font-size: 10px;
    }





}
@media (min-width: 768px) {
    .container-fluid {
        width: 768px;
    }

    #main-sidenav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        max-height: 100vh;
        background-color: #0148a0;
        width: 100%;
        max-width: 200px; 
        z-index: 1;
    }

    #main-side-ul {
        list-style: none;
        line-height: 45px;
        position: absolute;
        top: 12px;
    }

    #main-side-logo {
        padding: 10px;
        position: absolute;
        left: 0px;
        width: 140px;
        height: 55px;
    
    }


    .nav-link {
        text-decoration: none;
        color: white;
    }

    #sidenav-menu {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

    #gms-finance-logo {
        width: 200px;
        height: 200px;
        margin-left: 30vh;
        margin-top: 30vh;
    }   

    #header-breadcrumb {
        font-size: 12px;
        color: black;
        font-weight: 600;
        margin-left: 65px;

        #first-bc {
            text-decoration: none;
            color: black;
            font-weight: 600;
        }
    }

    #sidenav-name {
          font-size: 10px;
    }


}



@media (min-width: 992px) {
    .container-fluid {
        width: 900px;
    }

    
    #main-sidenav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        max-height: 200vh;
        background-color: #0148a0;
        width: 100%;
        max-width: 220px; 
        z-index: 1;
    }

    #main-side-ul {
        list-style: none;
        line-height: 55px;
        position: absolute;
        top: 16px;
    }

    #main-side-logo {
        padding: 10px;
        position: absolute;
        left: 0px;
        width: 140px;
        height: 55px;
    
    }


    .nav-link {
        text-decoration: none;
        color: white;
    }

    #sidenav-menu {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
    }


    #gms-finance-logo {
        width: 250px;
        height: 250px;
        margin-left: 45vh;
        margin-top: 30vh;
    }


    #header-breadcrumb {
        font-size: 14px;
        color: black;
        font-weight: 600;
        margin-left: 60px;

        #first-bc {
            text-decoration: none;
            color: black;
            font-weight: 600;
        }
    }




}
@media (min-width: 1200px) {
    .container-fluid {
        width: 1200px;
    }


     #main-sidenav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        max-height: 150vh;
        background-color: #0148a0;
        width: 100%;
        max-width: 240px; 
        z-index: 1;
    }

    #main-side-ul {
        list-style: none;
        line-height: 55px;
        position: absolute;
        top: 16px;
    }

    #main-side-logo {
        padding: 10px;
        position: absolute;
        left: 0px;
        width: 200px;
        height: 55px;
    
    }

    .nav-link {
        text-decoration: none;
        color: white;
    }

    #sidenav-menu {
        font-size: 14px;
    }

    #gms-finance-logo {
        width: 300px;
        height: 300px;
        margin-left: 55vh;
        margin-top: 30vh;
    }

    #header-breadcrumb {
        font-size: 14px;
        color: black;
        font-weight: 600;
        margin-left: 40px;

        #first-bc {
            text-decoration: none;
            color: black;
            font-weight: 600;
        }
    }

}


